{% unless include.border_top -%}
<div class="uk-container uk-margin-medium-bottom">
  <hr class="uk-margin-remove" />
</div>
{%- endunless -%}

<div class="uk-container uk-container-xsmall uk-margin-medium-bottom">
  {%- if include.title -%}
  <h2 class="section-title uk-margin-bottom uk-text-center">
    {{- include.title -}}
  </h2>
  {%- endif -%} {% if include.text %}
  <p class="uk-text-lead uk-margin-medium-bottom uk-text-center">
    {{ include.text }}
  </p>
  {% endif%}
  <div
    class="uk-flex-center uk-margin-medium-top uk-margin-small-bottom"
    data-uk-grid
    data-uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true"
  >
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" class="uk-width-1-1 uk-width-4-5@m">
      <form
        action="https://project-emily.us17.list-manage.com/subscribe/post?u=903c550764d419b6f6da0516d&amp;id=c9c298b88a"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll" class="uk-grid-small" data-uk-grid>
          <div class="uk-width-1-1 uk-width-expand@s">
            <div class="mc-field-group">
              <input
                type="email"
                value=""
                placeholder="Email Address"
                name="EMAIL"
                class="required email uk-input uk-form-large uk-width-1-1 uk-border-rounded"
                id="mce-EMAIL"
              />
            </div>
          </div>
          <div class="uk-width-1-1 uk-width-auto@s">
            <div id="mce-responses" class="clear">
              <div
                class="response"
                id="mce-error-response"
                style="display: none;"
              ></div>
              <div
                class="response"
                id="mce-success-response"
                style="display: none;"
              ></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_903c550764d419b6f6da0516d_c9c298b88a"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="clear">
              <input
                type="submit"
                value="Subscribe"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="button uk-button uk-button-primary uk-button-large uk-border-rounded"
              />
            </div>
          </div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
    <!-- Begin Mailchimp Signup Form -->
    <link
      href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css"
      rel="stylesheet"
      type="text/css"
    />
    <style type="text/css">
      #mc_embed_signup {
        background: #fff;
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
      }
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    <div id="mc_embed_signup">
      <form
        action="https://project-emily.us17.list-manage.com/subscribe/post?u=903c550764d419b6f6da0516d&amp;id=c9c298b88a"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        class="validate"
        target="_blank"
        novalidate
      >
        <div id="mc_embed_signup_scroll">
          <div class="mc-field-group">
            <label for="mce-EMAIL">Email Address </label>
            <input
              type="email"
              value=""
              name="EMAIL"
              class="required email"
              id="mce-EMAIL"
            />
          </div>
          <div id="mce-responses" class="clear">
            <div
              class="response"
              id="mce-error-response"
              style="display: none;"
            ></div>
            <div
              class="response"
              id="mce-success-response"
              style="display: none;"
            ></div>
          </div>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input
              type="text"
              name="b_903c550764d419b6f6da0516d_c9c298b88a"
              tabindex="-1"
              value=""
            />
          </div>
          <div class="clear">
            <input
              type="submit"
              value="Subscribe"
              name="subscribe"
              id="mc-embedded-subscribe"
              class="button"
            />
          </div>
        </div>
      </form>
    </div>

    <!--End mc_embed_signup-->
  </div>
</div>
