<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

    {% include head.html %}

    <body>

    {% include header.html %}

    {{ content }}

    {% include section-disclosure.html text="Disclosure &#40;Let’s be honest&#41;<br />This website contains posts with affiliate links, meaning that I receive a small commission if you purchase a book I’ve linked— at no extra cost to you. I’ll always be upfront with you when a post is sponsored or a book is gifted.
All books I recommend are books I actually read and enjoyed.<br /> No joke."%}

    {% include footer.html %}

    {% include offcanvas.html %}

    {% include email-popup.html %}

    </body>

</html>
